.search-form{
    margin-top: 15px;
}
.error{
    display: block !important;
    color: #a84646;
    border-bottom: 1px solid #a84646;
    margin-bottom: 5px;
    padding: 5px;
    width: 270px;
    border-radius: 10px;
}
.search-form{
    display: flex;
    flex-direction: column;
}
.form-control{
    padding: 9px 12px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #cbd2d9;
    margin-bottom: 10px;
}
.label{
    margin-bottom: 10px;
}
.submit{
    width: 280px;
    border: 1px solid #cbd2d9;
    background: #fff;
    padding: 9px 12px;
    border-radius: 10px;
    color: #333;
    transition: .3s ease;

}
.submit:hover{
    color: #edf1f5;
    background: #323f4a;
}
