.search-form{
    margin-top: 15px;
}
.error{
    display: block !important;
    color: #a84646;
    margin-bottom: 5px;
    padding: 5px;
    width: 250px;

}
.search-form{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}
.form-control{
    padding: 9px 12px;
    border-radius: 10px;
    border: 1px solid #cbd2d9;
    margin-bottom: 10px;
}
.label{
    margin-bottom: 10px;
    font-size: 21px;
}
.submit{
    border: 1px solid #cbd2d9;
    padding: 9px 12px;
    transition: .3s ease;
    height: 20px;
    

}
.submit:hover{
    color: #edf1f5;
}
.btn-icon{
    width: 24px;
    height: 24px;
    margin-left: 20px;
    background-image: url('@avtopro/icons/dist/svg/add_search.svg');
}